@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

#root {
  width: 100%;
  height: 100%;
}